<!DOCTYPE html>
<html>
  <head>
    <title>Teja Group of Hotels</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="hotels_main_container">
      <div class="top_menu">
        <div class="top_menu_links">
          <ul>
            <li> Home </li>
            <li> Main </li>
            <li> Accomodation </li>
            <li> Facilities and Services </li>
            <li> Tariff </li>
            <li> Reservation </li>
          </ul>
        </div>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
